*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
.debug{
  border: 1px solid black;
  background-color: aquamarine;
}
/* utility */
.d-flex{
  display: flex;
}
.container{
  width: 98%;
  margin: 0 auto;
  max-width: 1300px;
}
.padding-top-big{
  padding-top: 50px;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.between{
  justify-content: space-between;
}
header{
  background-color: #0084FD;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding-top: 30px;
}
header li{
  list-style: none;
  padding-right: 10px;
  color: white;
}
.hamburger{
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  
}
.list-nav{
  display: none;
}
.hamburger i{
font-size: 2.5rem;
}
/* jumbu */
.jumbo{
  margin-top: 75px;
}
.jumbo .row{
  flex-direction: column;
}
.row{
  display: flex;
  margin-bottom: 60px;
}
.title-big{
  color: #138DFD;
  text-align: start;
  
}
.margin-bottom{
  margin-bottom: 30px;
}
.title{
  color: #138DFD;
  text-align: center;
}
.padding-top{
  padding-top: 40px;
}
.jumbo .col-big{
  width: 100%;
  height :640px;
  border-radius: 15%;
  background-color: #B5DDFF;
  padding-left: 20px;
}
.jumbo .col{
  width: 100%;
  height: 380px;
  border-radius: 15%;
  padding-left: 20px;
  background-color: #B5DDFF;
}
.card{
  position: relative;
}
.col-big .card-img{
  width: 192px;
  height: 267px;
  position: absolute;
  bottom: 0;
  right: 100px;
}

/* chiuso jumbo */
.strategic-planning{
  height: 1400px;
  margin: 50px 0;
}
.strategic-planning .col{
  height: 640px;
}
/* chiuso strategic-planning */
 .testimonials{
  height: 2050px;
  padding-top: 60px;
  padding-bottom: 90px;
  padding-left: 0;
  padding-right: 0;
 } 
 .testimonials .container{
  height: 100%;
 }
 .testimonials .row{
  height: 100%;
 }
 .testimonials .col {
  height: 520px;
  width: 100%;
 }
 .testimonials .col:nth-child(1){
  height: 350px;
 }
 .testimonials .row:nth-child(1){
  text-align: center;
 }
 /* testimonials chiuso */
.benefits{
  height: 2800px;
  padding: 70px 0 50px 0;
}
.benefits h2{
  text-align: center;
  margin-bottom: 70px;
}
.benefits .col{
  height: 430px;
}
 /* benef chiuso */
.about{
  height: 1600px;
  padding: 90px 0 80px 0;
}
.about.row{
  height: 100%;
}
/* vedo se ce da aggiustare le altezze qua */
.free{
  height: 620px;
  padding: 60px;
}
.free .container{
  width: 90%;
  height: 100%;
  text-align: center;
}
/* chiuso free */
footer{
  background-color: #333;
  height: 230px;
}
/* media quiry */
@media screen and (min-width:768px){
  .jumbo .row{
    flex-wrap:wrap;
    flex-direction: row;
    padding: 30px 0 90px;
    height: 1200px;
    }
    .hamburger{
      display: block;
    }
    .jumbo .col-big{
      width: 66%;
    }
    .jumbo .col{
      width: 33%;
    }
    .strategic-planning{
      height: 2000px;
    }
    .strategic-planning .row{
      height: 1000px;
    }
    .strategic-planning .col {
      height: 100%;
    }
    .testimonials .row .col{
      height: 310px;
    }
    .benefits{
      height: 1500px;
    }
    .benefits .container{
      height: 100%;
    }
    .benefits .row{
      display: flex;
      flex-wrap: wrap;
      align-items:center;
    }
    .benefits .col{
      width: 50%;
      height: 430px;
    }
    .about{
      height: 1100px;
    }
    .about .row{
      display: flex;
      flex-wrap: wrap;
    }
    .about .col-big{
      width: 60%;
      height: 830px;
    }
    .about .col{
      height: 520px;
      width: 40%;
    }
    .free .container{
      width: 85%;
    }

   }
      
  

@media screen and (min-width:1200px){
  header .container{
    width: 1140px;
  }
  .list-nav{
    display: block;
    height: 100%;
    width: 60%;
    justify-content: space-between;
  }
  .hamburger{
    display: none;
  }
  .list-nav ul{
    align-items: center;
    justify-content: space-between;
  }
  .list-nav ul li{
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    
  }
  .jumbo .container{
    width: 1140px;
    margin: 0 auto;
    height: 870px;
  }
  .jumbo .row{
    height: 870px;

  }
  .row .col{
    height: 360px;
  }
  .strategic-planning{
    height: 930px;
  }
  .strategic-planning .container{
    height: 100%;
    margin: 50px 100px;
    display: flex;
    justify-content:center ;
    width: 1140px;
  }
  .strategic-planning .container .row{
    height: 100%;
  }
  .strategic-planning .col{
    height: 100%;
    width: 440px;
  }
  /* da vedere qua modifica */
  .testimonials .container{
    width: 1140px;
    margin: 0 auto;
  }
  .benefits{
    height: 1090px;
  }
  .benefits .container{
    width: 1140px;
    margin: 0 auto;
  }
  .benefits .col{
    width: 30%;
    height: 430px;
  }
  .about{
    height: 830px;
  }
  .about .container{
    width: 1140px;
    margin: 0 auto;
  }
  .about .col-big{
    width: 70%;
    height: 630px;
  }
  .about .col{
    width: 520px;
    width: 30%;

  }
  .free .container{
    width: 50%;
  }
}